# Default ignored files
/shelf/
*.ini
*.iml
**.log
Clicks-Bot/.idea/*
Clicks-Bot/__pycache__/*
testing.py

*.xml
*.pyc
__pycache__/testing.cpython-38.pyc
__pycache__/ClicksBot.cpython-38.pyc
__pycache__/testing.cpython-38.pyc
*.pyc
